.about {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

@media screen and (max-width: 769px) {
  .about {
    margin: unset;
  }
  .about span {
    margin: 0.5rem 0;
    font-size: 13px;
  }
  button {
    padding: 0 8px;
  }
}
