.acl-banner {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.acl-banner img {
  max-height: 223px;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.7);
  background-blend-mode: darken;
  border-radius: 25px;
}

.banner-text {
  position: absolute;
  align-self: center;
  font-weight: 500;
  font-family: "Montserrat";
  font-size: 48px;
  color: #ffffff;
}
