.crsl-sliderStyle {
  height: 100%;
  position: relative;
  margin: 0% 5%;
}

.crsl-image {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}

.crsl-leftArrow {
  position: absolute;
  top: 50%;
  left: 32px;
  z-index: 1;
  cursor: pointer;
}

.crsl-rightArrow {
  position: absolute;
  top: 50%;
  right: 32px;
  z-index: 1;
  cursor: pointer;
}

.crsl-position {
  position: absolute;
  bottom: 5px;
  left: 50%;
  z-index: 1;
}
