.collapsible {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ff6060;
  color: white;
  font-weight: 500;
  font-size: 24px;
  border-radius: 10px;
  border: none;
  padding: 0px 20px;
  cursor: pointer;
}

button img {
  transition: all 0.4s;
}
.content {
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: 400;
  font-size: 24px;
  color: #ff6060;
  background: #f6f6f6;
}

.content p {
  margin: auto;
}

.content-parent {
  height: 0px;
  overflow: hidden;
  transition: height ease 0.9s;
}

@media screen and (max-width: 769px) {
  .content {
    font-size: 12px;
    line-height: 17px;
  }
}
