.ksa-header {
  width: 90%;
  margin: auto;
  color: #ff6060;
  text-align: right;
  padding: 20px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.ksa-header a {
  color: #ff6060;
  text-decoration: none;
  font-size: 24px;
}
.ksa-header a.active {
  text-decoration: underline;
}
.nav-menu {
  display: flex;
  gap: 3rem;
}

@media screen and (max-width: 769px) {
  .ksa-header {
    width: 100%;
    padding: unset;
  }

  .ksa-header img {
    height: 47px;
  }

  .ksa-header a {
    font-size: 12px;
    text-transform: uppercase;
  }

  .nav-menu {
    gap: 1rem;
  }
}
