.thumb {
  display: flex;
  max-height: 340px;
  width: 30%;
  margin-bottom: 30px;
}

.list-thumb {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: unset;
  margin: 4%;
}

li img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

li a {
  position: relative;
  display: flex;
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}

li p {
  position: absolute;
  bottom: 5px;
  margin: 0px 10px 10px 10px;
  align-self: auto;
  font-size: 18px;
  font-weight: 500;
}
li div {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

@media screen and (max-width: 769px) {
  .list-thumb {
    margin: unset;
  }

  .thumb {
    min-height: 255px;
    width: unset;
    margin-bottom: 20px;
  }
}
