.thumb {
  display: flex;
  flex-direction: column;
  max-height: 340px;
  width: 30%;
}

.list-thumb {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: unset;
  margin: 4%;
}

li img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

li p {
  position: absolute;
  align-self: auto;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
}
